[submodule ".local/share/omf"]
  path = .local/share/omf
  url = https://github.com/oh-my-fish/oh-my-fish.git
[submodule ".tmux/plugins/tpm"]
  path = .tmux/plugins/tpm
  url = https://github.com/tmux-plugins/tpm
[submodule ".fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf
